.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  height: 95vh;
}

.centeredContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  height: 5vh;
  background-color: blue;
  width: 100%;
  text-align: center;
}
